In [20]:
import pandas as pd
import re
from dotenv import load_dotenv
import requests
import os
from src.geopoint_mongo import transformToGeoPoint as tg
import numpy as np
from pymongo import MongoClient

In [2]:
%%time
df = pd.read_csv('input/companies_sorted.csv', encoding = 'latin-1')

CPU times: user 17.4 s, sys: 1.49 s, total: 18.9 s
Wall time: 18.9 s

In [3]:
# dataset con mas de 7M de company
df.head(5)

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960

In [4]:
# Remove row where all values are None- No hace falta
#df = df.dropna(how='all')

In [5]:
# me quedo solo con las empresas italianas
italy_companies = df[df.country == 'italy']

In [6]:
# Detect missing values. Return a boolean output
italy_companies.isnull().sum().sort_values(ascending=False).head(5)

year founded               33134
domain                     16474
industry                     597
locality                     125
total employee estimate        0
dtype: int64

In [7]:
italy_companies.head(5)

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
368,3388682,saipem,saipem.com,1957.0,oil & energy,10001+,"san donato milanese, milan, italy",italy,linkedin.com/company/saipem,14858,33895
408,5150220,unicredit,unicreditgroup.eu,2014.0,banking,10001+,"milano, lombardy, italy",italy,linkedin.com/company/unicredit,13933,25727
474,4300578,leonardo,leonardocompany.com,1948.0,defense & space,10001+,"rome, lazio, italy",italy,linkedin.com/company/leonardo_company,12458,23304
481,438971,eni,eni.com,NaN,oil & energy,10001+,"rome, lazio, italy",italy,linkedin.com/company/eni,12321,25036
488,1765047,intesa sanpaolo,intesasanpaolo.com,2007.0,banking,10001+,"turin, piedmont, italy",italy,linkedin.com/company/intesa-sanpaolo,12248,18965

In [8]:
# miro los attributos localidad y decido quedarme con la ciudad de Milan
italy_companies['locality'].value_counts().head(5)

milano, lombardy, italy           11699
rome, lazio, italy                 7746
torino, piedmont, italy            3495
genoa, liguria, italy              2981
bologna, emilia-romagna, italy     2754
Name: locality, dtype: int64

In [9]:
# Find the NaN values and change them
italy_companies['locality'] = italy_companies['locality'].fillna('No Values')
milan_companies = italy_companies[italy_companies['locality'].str.contains(pat = 'milan')]

/home/must4in3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
milan_companies.head(5)

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
368,3388682,saipem,saipem.com,1957.0,oil & energy,10001+,"san donato milanese, milan, italy",italy,linkedin.com/company/saipem,14858,33895
408,5150220,unicredit,unicreditgroup.eu,2014.0,banking,10001+,"milano, lombardy, italy",italy,linkedin.com/company/unicredit,13933,25727
529,4105246,telecom italia,telecomitalia.com,1994.0,telecommunications,10001+,"milano, lombardy, italy",italy,linkedin.com/company/telecom-italia,11628,22587
771,5799337,luxottica,luxottica.com,1961.0,apparel & fashion,10001+,"milan, lombardy, italy",italy,linkedin.com/company/luxottica,8804,21785
1435,1579414,pirelli,pirelli.com,1872.0,automotive,10001+,"milano, lombardy, italy",italy,linkedin.com/company/pirelli,5491,16491

In [11]:
milan_companies['industry'].value_counts().head(5)

information technology and services    1317
marketing and advertising              1285
management consulting                   865
internet                                549
design                                  400
Name: industry, dtype: int64

In [12]:
# https://api.foursquare.com/v2/venues/search?ll=40.744010080453,-73.985651532083&categoryId=4d4b7105d754a06374d81259&query=starbucks&client_id=your_client_id&client_secret=your_client_secret
# https://api.foursquare.com/v2/venues/search?ll=40.7,-74&client_id=CLIENT_ID&client_secret=CLIENT_SECRET&v=YYYYMMDD

In [13]:
load_dotenv()

True

# Design Companies in Milan API foursquare

In [98]:
design_companies = milan_companies[milan_companies.industry == 'design']

In [99]:
design_companies.head(5)

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
34487,4926474,naba nuova accademia di belle arti,naba.it,1980.0,design,1001 - 5000,"milan, lombardy, italy",italy,linkedin.com/company/naba-nuova-accademia-di-b...,339,969
55395,4000697,artemide,artemide.com,1960.0,design,501 - 1000,"milano, lombardy, italy",italy,linkedin.com/company/artemide,208,616
83894,1511244,logotel,logotel.it,1993.0,design,201 - 500,"milano, lombardy, italy",italy,linkedin.com/company/logotel,134,308
89013,6913390,domus academy,domusacademy.com,1983.0,design,201 - 500,"milano, lombardy, italy",italy,linkedin.com/company/domus-academy,126,498
93388,2533233,kartell,kartell.it,1946.0,design,201 - 500,"milano, lombardy, italy",italy,linkedin.com/company/kartell,120,384

In [100]:
client_id = os.getenv("CLIENT_ID")
client_secret = os.getenv("CLIENT_SECRET")

In [101]:
%%time
# error 429 el try y el except no lo necesito en teoria
design_companies_location = []
for design_c in design_companies[:4]:
    url = f'https://api.foursquare.com/v2/venues/search?near=milan&query={design_c}&client_id={client_id}&client_secret={client_secret}&v=20181101'
    res = requests.get(url)
    company_json = res.json()
    print(company_json)
    try:
        c_json = company_json['response']['venues']
        c_json= pd.DataFrame(c_json) #read json  
        print(c_json)
        design_companies_location.append({'name': c_json['name'], 'location': c_json['location'], 'categories': c_json[f'categories']})
    except KeyError:
        pass

{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef6831dffc68c0266722f6e'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef6823304a548438958fb04'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef682746174af182013caa5'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef6826332a8a9628598110f'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef6820f95d86421fc11a513'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef6817ce0d74740ce01c715'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef6829bbbdb0a49a6ea0f95'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef68183513bb60f51acabf6'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef68168d76da77399ec2d31'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef68314d0415c07c658797a'}, 'response': {}}
{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '5ef682c2546946258fde8d1f'}, 'response': {}}
CPU times: user 508 ms, sys: 21.1 ms, total: 529 ms
Wall time: 6.39 s

In [ ]:
design_companies_location
design_company_table = pd.DataFrame(design_companies_location)

In [ ]:
design_company_table.head(50)

In [ ]:
design_companies_location

In [ ]:
prin

In [ ]:
a = []
for i in range(len(design_companies_location)):
        a.append(design_companies_location[i]['response'])

In [ ]:
b= []
for x in range(len(a)):
    try:
        b.append(a[x]['venues'])
    except KeyError as e:
        print(None)

In [ ]:
%%time
dataframe_design_milano = []
for i in range(len(design_companies_location)):
    try:
        des = pd.DataFrame(design_companies_location[i]['response']['venues']) #read json
        dict_design = {'name': des['name'], 'location': des['location'], 'categories': des[f'categories']}
        dataframe_design_milano.append(dict_design)
    except Exception as e:
        pass
        #print('venues attribute not find')

In [ ]:
table_design = pd.DataFrame(dataframe_design_milano) 
table_design.head(60)

In [ ]:
# enviar una request. Si sale un numero que empieza con 2 todo bien, 
# o si no ver los errores de los gatos a ver que dicen!
url = f'https://api.foursquare.com/v2/venues/search?near=milan&query=Starbucks&client_id={client_id}&client_secret={client_secret}&v=20181101'
res = requests.get(url)
starbucks= res.json()
# del requests seleciono solo la key venues dentro response
starbucks['response']['venues']
# leer infos read_json leer documentacíon

# Starbucks from API foursquare

In [14]:
# https://www.starbucks.it/store-locator/search/location/milano
# TRY WEB SCRAPING

In [15]:
client_id = os.getenv("CLIENT_ID")
client_secret = os.getenv("CLIENT_SECRET")

In [19]:
# enviar una request. Si sale un numero que empieza con 2 todo bien, 
# o si no ver los errores de los gatos a ver que dicen!
url = f'https://api.foursquare.com/v2/venues/search?near=milan&query=Starbucks&client_id={client_id}&client_secret={client_secret}&v=20181101'
res = requests.get(url)
starbucks= res.json()
# del requests seleciono solo la key venues dentro response
starbucks['response']['venues']
# leer infos read_json leer documentacíon

<Response [429]>

KeyError: 'venues'

In [ ]:
# dataframe de los starbucks in Milan
table_starbucks = pd.DataFrame((starbucks['response']['venues'])) #read json
table_starbucks.head(3)

In [ ]:
# elimino la unica row que no tenga Starbucks
table_starbucks = table_starbucks[table_starbucks['name'].str.contains(pat = 'Starbucks')]
# separo la columna location en subcolumnas para recuperar latitude y longitude
geo_starbucks = pd.DataFrame(table_starbucks.location.apply(pd.Series))

In [ ]:
# starbucks table limpia lista para la transformacíon en GeoPoint
clean_starbucks = pd.concat([table_starbucks["name"], geo_starbucks[['address','lat','lng']]], axis=1)
clean_starbucks

In [ ]:
# para poder hacer query en MongoDB se necesita este formato 
# <field>: { type: <GeoJSON type> , coordinates: <coordinates> }
# por eso llamo la funcion transformToGeoPoint
clean_starbucks["geopoint"] = clean_starbucks.apply(transformToGeoPoint, axis=1)
clean_starbucks

In [ ]:
# Convert objectIds to string to be able to export as JSON 
clean_starbucks["geopoint"] = clean_starbucks["geopoint"].apply(lambda e: str(e))
# Export as json records to import with mongoimport 
clean_starbucks.to_json("output/starbucks.json",orient="records")
# mongoimport -d datamad0620 -c offices --jsonArray offices.json

# sitios para diversion

In [37]:
#https://dati.comune.milano.it/dataset/ds252-economia-locali-pubblico-spettacolo

In [85]:
dbName = "Italian_Companies"
mongodbURL = f"mongodb://localhost/{dbName}"
client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)

db = client.get_database()
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, connecttimeoutms=2000, serverselectiontimeoutms=2000), 'Italian_Companies')

In [92]:
cur = db.Italian_Companies.find({"insegna":{'$ne':None}},{"insegna":1,"_id":0, "LAT_WGS84":1, "LONG_WGS84":1})

In [93]:
data = list(cur)

In [94]:
sitios_para_diversione = pd.DataFrame(data)

In [96]:
sitios_para_diversione

                          insegna     LONG_WGS84      LAT_WGS84
0                       PERSEFONE  9.17573102533  45.4966580754
1                      MAF CAFFE'  9.18734461471  45.4815798192
2                   NEW ART CAFE'  9.18744603431  45.4723787241
3                            BANA   9.2478678237  45.4527750264
4    NOY CONCEPT RESTAURANT CAFE'  9.16219092448  45.4652654996
..                            ...            ...            ...
302                     FOCA LOCA  9.19153079935  45.4612676413
303                       BULLONA  9.16075715072  45.4861272708
304                   GOLD PRIVE'  9.18267326746  45.4607987305
305                  ROCK 'N ROLL  9.20782240181  45.4924448979
306                       APOPHIS  9.19602034698  45.4626321586

[307 rows x 3 columns]